In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
%matplotlib inline
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from mlxtend.feature_selection import SequentialFeatureSelector as SFS
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.impute import KNNImputer

In [2]:
df=pd.read_csv('kidney.csv')
df.drop('id',axis=1,inplace=True)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
age               391 non-null float64
bp                388 non-null float64
sg                353 non-null float64
al                354 non-null float64
su                351 non-null float64
rbc               248 non-null object
pc                335 non-null object
pcc               396 non-null object
ba                396 non-null object
bgr               356 non-null float64
bu                381 non-null float64
sc                383 non-null float64
sod               313 non-null float64
pot               312 non-null float64
hemo              348 non-null float64
pcv               330 non-null object
wc                295 non-null object
rc                270 non-null object
htn               398 non-null object
dm                398 non-null object
cad               398 non-null object
appet             399 non-null object
pe                399 non-null object
ane               399 non-null object
classification    400 non-null object
dtypes: float64(11), object(14)
memory usage: 78.2+ KB

In [4]:
#convert to numeric data type from object
df.pcv = pd.to_numeric(df.pcv, errors='coerce')
df.wc = pd.to_numeric(df.wc, errors='coerce')
df.rc = pd.to_numeric(df.rc, errors='coerce')

In [5]:
df.classification=df.classification.replace('ckd\t','ckd')
df.dm=df.dm.replace([' yes','\tno','\tyes'],['yes','no','yes'])
df.cad=df.cad.replace('\tno','no')

In [6]:
df.isnull().sum()

age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                71
wc                106
rc                131
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [7]:
df.head(15)

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44.0,7800.0,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38.0,6000.0,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31.0,7500.0,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32.0,6700.0,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35.0,7300.0,4.6,no,no,no,good,no,no,ckd
5,60.0,90.0,1.015,3.0,0.0,NaN,NaN,notpresent,notpresent,74.0,...,39.0,7800.0,4.4,yes,yes,no,good,yes,no,ckd
6,68.0,70.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,100.0,...,36.0,NaN,NaN,no,no,no,good,no,no,ckd
7,24.0,NaN,1.015,2.0,4.0,normal,abnormal,notpresent,notpresent,410.0,...,44.0,6900.0,5.0,no,yes,no,good,yes,no,ckd
8,52.0,100.0,1.015,3.0,0.0,normal,abnormal,present,notpresent,138.0,...,33.0,9600.0,4.0,yes,yes,no,good,no,yes,ckd
9,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,70.0,...,29.0,12100.0,3.7,yes,yes,no,poor,no,yes,ckd
10,50.0,60.0,1.010,2.0,4.0,NaN,abnormal,present,notpresent,490.0,...,28.0,NaN,NaN,yes,yes,no,good,no,yes,ckd
11,63.0,70.0,1.010,3.0,0.0,abnormal,abnormal,present,notpresent,380.0,...,32.0,4500.0,3.8,yes,yes,no,poor,yes,no,ckd
12,68.0,70.0,1.015,3.0,1.0,NaN,normal,present,notpresent,208.0,...,28.0,12200.0,3.4,yes,yes,yes,poor,yes,no,ckd
13,68.0,70.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,98.0,...,NaN,NaN,NaN,yes,yes,yes,poor,yes,no,ckd
14,68.0,80.0,1.010,3.0,2.0,normal,abnormal,present,present,157.0,...,16.0,11000.0,2.6,yes,yes,yes,poor,yes,no,ckd

In [10]:
modus = [df["sg"].value_counts().idxmax(),
         df["al"].value_counts().idxmax(),
         df["su"].value_counts().idxmax(),
         df["rbc"].value_counts().idxmax(),
         df["pc"].value_counts().idxmax(),
         df["pcc"].value_counts().idxmax(),
         df["ba"].value_counts().idxmax(),
         df["htn"].value_counts().idxmax(),
         df["dm"].value_counts().idxmax(),
         df["cad"].value_counts().idxmax(),
         df["appet"].value_counts().idxmax(),
         df["pe"].value_counts().idxmax(),
         df["ane"].value_counts().idxmax(),
        ]
modus

[1.02,
 0.0,
 0.0,
 'normal',
 'normal',
 'notpresent',
 'notpresent',
 'no',
 'no',
 'no',
 'good',
 'no',
 'no']

In [11]:
df["sg"]= df["sg"].fillna(df["sg"].value_counts().idxmax())
df["al"]= df["al"].fillna(df["al"].value_counts().idxmax())
df["su"]= df["su"].fillna(df["su"].value_counts().idxmax())
df["rbc"]= df["rbc"].fillna(df["rbc"].value_counts().idxmax())
df["pc"]= df["pc"].fillna(df["pc"].value_counts().idxmax())
df["pcc"]= df["pcc"].fillna(df["pcc"].value_counts().idxmax())
df["ba"]= df["ba"].fillna(df["ba"].value_counts().idxmax())
df["htn"]= df["htn"].fillna(df["htn"].value_counts().idxmax())
df["dm"]= df["dm"].fillna(df["dm"].value_counts().idxmax())
df["cad"]= df["cad"].fillna(df["cad"].value_counts().idxmax())
df["appet"]= df["appet"].fillna(df["appet"].value_counts().idxmax())
df["pe"]= df["pe"].fillna(df["pe"].value_counts().idxmax())
df["ane"]= df["ane"].fillna(df["ane"].value_counts().idxmax())

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
age               391 non-null float64
bp                388 non-null float64
sg                400 non-null float64
al                400 non-null float64
su                400 non-null float64
rbc               400 non-null object
pc                400 non-null object
pcc               400 non-null object
ba                400 non-null object
bgr               356 non-null float64
bu                381 non-null float64
sc                383 non-null float64
sod               313 non-null float64
pot               312 non-null float64
hemo              348 non-null float64
pcv               329 non-null float64
wc                294 non-null float64
rc                269 non-null float64
htn               400 non-null object
dm                400 non-null object
cad               400 non-null object
appet             400 non-null object
pe                400 non-null object
ane               400 non-null object
classification    400 non-null object
dtypes: float64(14), object(11)
memory usage: 78.2+ KB

In [13]:
dictionary = {
    'rbc' :{
    'abnormal':1,
    'normal':0,
    },
    'pc' :{
    'abnormal':1,
    'normal':0,
    },
    'pcc' :{
    'notpresent':0,
    'present':1,
    },
    'ba' :{
    'notpresent':0,
    'present':1,
    },
    'htn' :{
    'yes':1,
    'no':0,
    },
    'dm' :{
    'yes':1,
    'no':0,
    },
    'cad' :{
    'yes':1,
    'no':0,
    },
    'appet' :{
    'good':1,
    'poor':0,
    },
    'pe' :{
    'yes':1,
    'no':0,
    },
    'ane' :{
    'yes':1,
    'no':0,
    },
    'classification':{
        'ckd':1,
        'notckd':0,
    }
}
df=df.replace(dictionary)

In [14]:
df.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,0,0,0,0,121.0,...,44.0,7800.0,5.2,1,1,0,1,0,0,1
1,7.0,50.0,1.020,4.0,0.0,0,0,0,0,NaN,...,38.0,6000.0,NaN,0,0,0,1,0,0,1
2,62.0,80.0,1.010,2.0,3.0,0,0,0,0,423.0,...,31.0,7500.0,NaN,0,1,0,0,0,1,1
3,48.0,70.0,1.005,4.0,0.0,0,1,1,0,117.0,...,32.0,6700.0,3.9,1,0,0,0,1,1,1
4,51.0,80.0,1.010,2.0,0.0,0,0,0,0,106.0,...,35.0,7300.0,4.6,0,0,0,1,0,0,1

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
age               391 non-null float64
bp                388 non-null float64
sg                400 non-null float64
al                400 non-null float64
su                400 non-null float64
rbc               400 non-null int64
pc                400 non-null int64
pcc               400 non-null int64
ba                400 non-null int64
bgr               356 non-null float64
bu                381 non-null float64
sc                383 non-null float64
sod               313 non-null float64
pot               312 non-null float64
hemo              348 non-null float64
pcv               329 non-null float64
wc                294 non-null float64
rc                269 non-null float64
htn               400 non-null int64
dm                400 non-null int64
cad               400 non-null int64
appet             400 non-null int64
pe                400 non-null int64
ane               400 non-null int64
classification    400 non-null int64
dtypes: float64(14), int64(11)
memory usage: 78.2 KB

In [16]:
imputer = KNNImputer(n_neighbors=2)
df_filled = imputer.fit_transform(df)

In [17]:
df2 = pd.DataFrame(data = df_filled)

In [18]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
0     400 non-null float64
1     400 non-null float64
2     400 non-null float64
3     400 non-null float64
4     400 non-null float64
5     400 non-null float64
6     400 non-null float64
7     400 non-null float64
8     400 non-null float64
9     400 non-null float64
10    400 non-null float64
11    400 non-null float64
12    400 non-null float64
13    400 non-null float64
14    400 non-null float64
15    400 non-null float64
16    400 non-null float64
17    400 non-null float64
18    400 non-null float64
19    400 non-null float64
20    400 non-null float64
21    400 non-null float64
22    400 non-null float64
23    400 non-null float64
24    400 non-null float64
dtypes: float64(25)
memory usage: 78.2 KB

In [19]:
df2.columns

RangeIndex(start=0, stop=25, step=1)

In [21]:
kolom = ['age','bp','sg','al','su','rbc','pc','pcc','ba',
          'bgr','bu','sc','sod','pot','hemo','pcv','wc','rc',
          'htn','dm','cad','appet','pe','ane','class']
df2.columns=kolom
df2.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'class'],
      dtype='object')

In [22]:
df2.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,class
0,48.0,80.0,1.020,1.0,0.0,0.0,0.0,0.0,0.0,121.0,...,44.0,7800.0,5.2,1.0,1.0,0.0,1.0,0.0,0.0,1.0
1,7.0,50.0,1.020,4.0,0.0,0.0,0.0,0.0,0.0,101.5,...,38.0,6000.0,5.5,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,62.0,80.0,1.010,2.0,3.0,0.0,0.0,0.0,0.0,423.0,...,31.0,7500.0,3.2,0.0,1.0,0.0,0.0,0.0,1.0,1.0
3,48.0,70.0,1.005,4.0,0.0,0.0,1.0,1.0,0.0,117.0,...,32.0,6700.0,3.9,1.0,0.0,0.0,0.0,1.0,1.0,1.0
4,51.0,80.0,1.010,2.0,0.0,0.0,0.0,0.0,0.0,106.0,...,35.0,7300.0,4.6,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [24]:
#save data
df2.to_csv(r'C:\Users\ACER\Music\jupiter\TA\CleanD.csv',index=False)
df2.to_excel(r'C:\Users\ACER\Music\jupiter\TA\CleanDX.xlsx',index=False)